<app-navigation-bar></app-navigation-bar><br><br><br><br><br>
<h1><u>ANALOGUE CLOCK</u></h1>
<div class="w3-container" id="home">
  <h1><u>home</u></h1>
  <div class="h1">
<div id='clock'>
  <ul class='hours'>
    <li><span>1</span></li>
    <li><span>2</span></li>
    <li><span>3</span></li>
    <li><span>4</span></li>
    <li><span>5</span></li>
    <li><span>6</span></li>
    <li><span>7</span></li>
    <li><span>8</span></li>
    <li><span>9</span></li>
    <li><span>10</span></li>
    <li><span>11</span></li>
    <li><span>12</span></li>
  </ul>
  
  <div class='hr-wrapper'>
    <div class='hand hr'></div>
  </div>
  <div class='min-wrapper'>
    <div class='hand min'></div>
  </div>
  <div class='sec-wrapper'>
    <div class='hand sec'></div>
  </div>
  <app-cats></app-cats>
</div>
</div>
</div><br><br><br><br>

<div class="w3-container" id="login">
  <h1><u>login</u></h1>
  <div class="h1">
    <form action="/action_page.php">
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" value=""><br><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname" value=""><br><br>
      <label for="fname">password:</label><br>
      <input type="text" id="fname" name="fname" value=""><br><br>
      <a (click)="login()">login</a>

    </form> 
  </div>
</div>
<div class="body">
</div>
<div class="w3-row-padding" id="about">
  <div class="w3-col l4 12">
     <div class="h1">
    <h1><u>about</u></h1>
    <div class="span">
      <span>
        Analog clock shows time passing by moving hands continuously. 
        The history and the origin of the clock is an interesting one, 
        as it is hard to point which civilization invented it first. People 
        would originally determine the time of the day by observing the length 
        of their shadow. When the shadow was longest it meant that it was noon.
         Over centuries there have been sand dials, water clocks, and other such
          clocks to tell the time. Once you can read the time, you can read a random
           analog clock and not cross-check to see a digital clock.
           An analog clock is a tool for reading the time of day. 
           The longest hand indicates the seconds, the longer one indicates 
           the minutes while the smallest one indicates the hours.
        The shortest hand indicates the hour, a longer hand indicates the minutes, 
      and the longest arm indicates the seconds. 
      </span>
  </div>
</div>
</div>


<div class="w3-content" style="max-width:1532px;">

  <div class="w3-container w3-margin-top" id="services">  
    <div class="h1">

    <h1><u>services</u></h1>
    <p>
      All clocks used to be what you call analogue devices before digital clocks were invented.
       An analogue clock contains two (or possibly three) “hands" that go around in circles to show 
       you the current hour and minute (and possibly second).

Each of these hands can point anywhere along the circle. That means that the minute hand can point 
to every numerical value that exists between 0 and 60.

For example, when the minute hand is halfway between the 11 and 12 minute marks (both of which are 
between the 2 and 3 hour marks), the time must be 11.5 minutes past some hour. Halfway between that
 point and the 12 minute mark, the time must be 11.75 minutes past some hour.

As each hand moves continuously over a portion of its circular path, it moves through an infinite 
number of real numbers that represent the continuous moments of time.

Something that changes continuously like this—meaning it moves smoothly from one point to another 
without any sudden jumps or breaks—is called an analogue quantity. And that’s why this type of clock
 is called an analogue clock.
    </p>
  </div>
</div>
</div>

<div class="w3-container" id="contact">
  <h1><u>Contact us</u></h1>
  <div class="h1">

  <p>If you have any questions, do not hesitate to ask them.</p>
  <i class="fa fa-map-marker w3-text-red" style="width:30px"></i> Nairobi,Kenya<br>
  <i class="fa fa-phone w3-text-red" style="width:30px"></i> Phone: 0709111000<br>
  <i class="fa fa-phone w3-text-red" style="width:30px"> </i> Phone: +25420228850<br>
  <form action="/action_page.php" target="_blank">
    <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
    <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
    <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
    <p><button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button></p>
  </form>
  </div>
</div><br><br><br>

<h3>Powered by <a href="irenewaweru9@gmail.com" target="_blank" class="w3-hover-text-green">irenewaweru9@gmail.com</a></h3>
